# Программирование на Python 

# Тектовые файлы и основы работы в `pandas`


## Содержание

1. [Ключевое слово `with` и функция `open()`](#par1)
   1. [Открытие файла](#par1.1)
   2. [Обработка информации из файла](#par1.2)
   3. [Запись информации в файл](#par1.3)
2. [Основы работы в `pandas`](#par2)
   1. [Фильтрация, сортировка, группировка, создание новых признаков](#par2.1)
   2. [Меры центральной тенденции и меры разброса](#par2.2)
3. [Дополнительные материалы](#parlast)

Давайте скачаем файлик [по ссылке](https://github.com/aaparshina/PROG_22-23/blob/main/DATA/wine.csv). Для этого нам нужно нажать `Raw` и затем комбинацию `Ctrl+S` или `Cmd+S`.

[Источник данных - Kaggle](https://www.kaggle.com/datasets/jarredpriester/california-wine-production-19802020).

**Производство вин в Калифорнии 1980 - 2020 гг.**

Данные содержат следующие признаки:

* `Year` - Год
* `County` - Округ, где произвели вино
* `CountyCode` - Номер округа
* `HarvestedAcres` - Собранные акры винограда
* `Yield` - Урожайность на акр
* `Production` - Произведенная продукция (в тоннах)
* `Price` - Цена в далларах за тонну продукции

## Ключевое слово `with` и функция `open()` <a name="par1"></a>

Открыть текстовый файл (например, с расширением `.csv` или `.txt`) можно с помощью ключевого слова `with`. О чем тут важно помнить: 

+ файл мы кладем в ту же папку, где у нас лежит блокнот (можно и без этого, но тогда легко запутаться в пути к этому файлу на вашем компьютере)
+ название файла указываем полнотью! 
+ указываем режим открытия файла
    + `'r'` = read/чтение (он стоит по умолчанию)
    + `'a'` = append/добавление
    + `'w'` = write/запись, создание
    + на самом деле, их больше, но это основные
   
### Открытие файла <a name="par1.1"></a>

Файл у нас большой, поэтому я попрошу напечатать не все строки из него, а только 5.

In [1]:
line_num = 5 # задаем число строк

# открываем файл с помощью with()
with open('wine.csv', 'r', encoding = 'utf8') as inf:
    for line in inf:
        print(line)
        
        line_num -= 1
        if line_num == 0:
            break

Year,CountyCode,County,HarvestedAcres,Yield,Production,Price

2020,1,Alameda,2530.0,5.14,13000.0,1497.69

2020,5,Amador,5360.0,2.31,12400.0,1318.31

2020,9,Calaveras,579.0,3.06,1770.0,1325.99

2020,11,Colusa,747.0,6.02,4500.0,684.67

In [2]:
line[-1]

'\n'

Самое важное, что тут нужно запомнить — в конце каждой строки (абзаца) стоит переход на новую строку `\n`. При обработке данных советую всегда его убирать, лишним не будет. Сделать это можно с помощью метода `.strip()`.

In [2]:
line_num = 5
with open('wine.csv', 'r', encoding = 'utf8') as inf:
    for line in inf:
        print(line.strip())
        
        line_num -= 1
        if line_num == 0:
            break

Year,CountyCode,County,HarvestedAcres,Yield,Production,Price
2020,1,Alameda,2530.0,5.14,13000.0,1497.69
2020,5,Amador,5360.0,2.31,12400.0,1318.31
2020,9,Calaveras,579.0,3.06,1770.0,1325.99
2020,11,Colusa,747.0,6.02,4500.0,684.67

Обратите внимание - здесь и далее мы с вами проходимся по строкам в файле `.csv`. Что мы видим выше?

На первой строке находятся названия колонок:
```
Year,CountyCode,County,HarvestedAcres,Yield,Production,Price
```

Когда мы смотрим на следующие строки, мы соотносим записанные значения с этой самой первой колонкой. Например, для первой строки с данными:

```
2020,1,Alameda,2530.0,5.14,13000.0,1497.69
```

Это означает, что в первой строке записаны следующие данные:
* `Year` - `2020`;
* `CountyCode` - `1`;
* `County` – `Alameda`;
* `HarvestedAcres` – `2530.0`;
* `Yield` – `5.14`;
* `Production` – `13000.0`;
* `Price` – `1497.69`.

Но как можно работать с данными, записанными в одной строке? Файл `.csv` расшировывается как `comma separated values` – то есть это тип файлов, в которых значения разделены запятыми. Это означает, что мы можем спокойно разделить наши значения по запятой и получить список.

In [3]:
# надо лишь применить метод .split(',')
'2020,1,Alameda,2530.0,5.14,13000.0,1497.69'.split(',')

['2020', '1', 'Alameda', '2530.0', '5.14', '13000.0', '1497.69']

Давайте придумаем нам содержательную задачку на этих данных. Например, посчитаем выручку округа (количество продукции в тоннах умножаем на цену за тонну) и посмотрим, какой округ заработал больше остальных в каждом году. 

Сохранять все будем в словарь `data`, где ключи — года, а значения — словари (с парами округ-выручка).

In [3]:
data = {} # создаем пустой словарь

# открываем файл
with open('wine.csv', 'r', encoding = 'utf8') as input_file:
    for line in input_file:
        line = line.strip().split(',') # превращаем строку в список
        
        if line[0].isdigit(): # если первое значение - это год,
            year = int(line[0]) # выделяем год
            county = line[2] # выделяем округ
            
            # получаем значение выручки
            if len(line[-2]) == 0 or len(line[-1]) == 0:
                revenue = 0
            else:
                revenue = float(line[-2]) * float(line[-1])
            
            # обновляем значение в словаре
            data.setdefault(year, {}) 
#           data[year] = {}
            data[year].update({county: revenue})

### Обработка информации из файла <a name="par1.2"></a>

При работе с такими файлами главное — понять, как удобнее считать из него информацию и затем обработать ее.

In [4]:
print(data)

{2020: {'Alameda': 19469970.0, 'Amador': 16347044.0, 'Calaveras': 2347002.3, 'Colusa': 3081015.0, 'ContraCosta': 6829044.3, 'ElDorado': 9663014.4, 'Fresno': 249876600.0, 'Kern': 59667600.00000001, 'Kings': 16954017.0, 'Lake': 52510114.99999999, 'Madera': 136102200.0, 'Marin': 937999.4, 'Mendocino': 82181760.0, 'Merced': 63419040.0, 'Monterey': 105991314.0, 'Napa': 461395463.99999994, 'Nevada': 0, 'Placer': 1964995.7099999997, 'Riverside': 18999981.0, 'Sacramento': 155975350.0, 'SanBenito': 34773072.0, 'SanBernardino': 440000.91, 'SanDiego': 5206013.9, 'SanJoaquin': 340911680.0, 'SanLuisObispo': 218238370.0, 'SanMateo': 0, 'SantaBarbara': 93836004.0, 'SantaClara': 11981970.8, 'SantaCruz': 4814000.0, 'Shasta': 500000.0, 'Solano': 21189056.0, 'Sonoma': 351511840.0, 'Stanislaus': 35557227.0, 'Tehama': 1053997.3599999999, 'Tulare': 35504000.0, 'Yolo': 104950500.0}, 2019: {'Alameda': 27205024.0, 'Amador': 21625000.0, 'Calaveras': 4543008.0, 'Colusa': 13466045.0, 'ContraCosta': 9469980.0, 'ElDorado': 12092020.2, 'Fresno': 254300999.99999997, 'Kern': 57553210.0, 'Kings': 16965066.0, 'Lake': 83714864.0, 'Madera': 130563840.0, 'Marin': 1368999.52, 'Mariposa': 48000.08, 'Mendocino': 113809080.0, 'Merced': 59745000.0, 'Monterey': 186096240.0, 'Napa': 937961600.0, 'Nevada': 2550004.6, 'Placer': 1594003.5, 'Riverside': 16524024.0, 'Sacramento': 175421080.0, 'SanBenito': 33423999.0, 'SanBernardino': 372000.58, 'SanDiego': 5580000.0, 'SanJoaquin': 372467480.0, 'SanLuisObispo': 254272500.0, 'SanMateo': 0, 'SantaBarbara': 106079126.0, 'SantaClara': 11544972.0, 'SantaCruz': 5855998.1, 'Shasta': 289000.0, 'Solano': 21587076.0, 'Sonoma': 654021100.0, 'Stanislaus': 40738284.0, 'Tehama': 873000.32, 'Trinity': 146999.85, 'Tulare': 33930000.0, 'Yolo': 108142320.0}, 2018: {'Alameda': 27205024.0, 'Amador': 24790038.0, 'Calaveras': 3389995.1999999997, 'Colusa': 13826052.0, 'ContraCosta': 11582007.0, 'ElDorado': 11168993.5, 'Fresno': 286944660.0, 'Kern': 82524000.0, 'Kings': 16211748.000000002, 'Lake': 81470048.0, 'Madera': 125331760.0, 'Marin': 1222999.74, 'Mariposa': 48000.08, 'Mendocino': 137952360.0, 'Merced': 51070500.0, 'Monterey': 247757400.0, 'Napa': 1038599250.0, 'Nevada': 2414991.6, 'Placer': 1449999.8, 'Riverside': 14286976.0, 'Sacramento': 186777599.99999997, 'SanBenito': 33914916.0, 'SanBernardino': 94000.14000000001, 'SanDiego': 4591016.0, 'SanJoaquin': 430495730.0, 'SanLuisObispo': 276001410.0, 'SanMateo': 0, 'SantaBarbara': 121306887.00000001, 'SantaClara': 11235000.0, 'SantaCruz': 4197007.1, 'Shasta': 503000.42, 'Solano': 29404080.0, 'Sonoma': 777674160.0, 'Tehama': 1337998.48, 'Trinity': 146999.85, 'Tulare': 46786000.0, 'Yolo': 83595708.0}, 2017: {'Alameda': 17802036.0, 'Amador': 22982940.0, 'Calaveras': 2972991.0, 'Colusa': 13451940.0, 'ContraCosta': 11919987.0, 'ElDorado': 8913976.0, 'Fresno': 287010900.0, 'Kern': 86207940.00000001, 'Kings': 16165982.0, 'Lake': 78644055.0, 'Madera': 119211120.0, 'Marin': 893998.5599999999, 'Mariposa': 48000.08, 'Mendocino': 88287267.0, 'Merced': 49254120.0, 'Monterey': 239027220.0, 'Napa': 750832100.0, 'Nevada': 1957000.0, 'Placer': 1116002.14, 'Riverside': 13226958.0, 'Sacramento': 170181000.0, 'SanBenito': 31116957.000000004, 'SanBernardino': 301002.0, 'SanDiego': 3853997.4, 'SanJoaquin': 395544060.0, 'SanLuisObispo': 267662760.0, 'SanMateo': 0, 'SantaBarbara': 146129908.0, 'SantaClara': 10066990.4, 'SantaCruz': 4840005.0, 'Shasta': 482000.99999999994, 'Solano': 20368950.0, 'Sonoma': 578312040.0, 'Trinity': 146999.85, 'Tulare': 50512000.0, 'Yolo': 86011500.0}, 2016: {'Alameda': 18188940.0, 'Amador': 18028035.0, 'Calaveras': 2764996.1999999997, 'Colusa': 7806960.0, 'ContraCosta': 13809978.0, 'ElDorado': 8741027.7, 'Fresno': 289051750.0, 'Kern': 69559820.0, 'Kings': 14539976.000000002, 'Lake': 78644055.0, 'Madera': 131570190.0, 'Marin': 867000.0, 'Mariposa': 48000.08, 'Mendocino': 88287267.0, 'Merced': 79891200.0, 'Monterey': 238892520.0, 'Napa': 729507060.0000001, 'Nevada': 1926998.7, 'Placer': 1024997.12, 'Riverside': 9603990.0, 'Sacramento': 184201920.0, 'SanBenito': 31116957.000000004, 'SanBernardino': 280999.68, 'SanDiego': 3004999.2, 'SanJoaquin': 425783720.0, 'SanLuisObispo': 242899800.0, 'SanMateo': 0, 'SantaBarbara': 151630050.0, 'SantaClara': 7648984.399999999, 'SantaCruz': 4543006.4, 'Shasta': 301998.88, 'Solano': 19560030.0, 'Sonoma': 586517460.0, 'Trinity': 146999.85, 'Tulare': 46056000.0, 'Yolo': 81263910.0}, 2015: {'Alameda': 15208001.2, 'Amador': 14631014.0, 'Calaveras': 2223000.0, 'Colusa': 7050064.0, 'ContraCosta': 7367988.6, 'ElDorado': 8098980.300000001, 'Fresno': 240663500.0, 'Kern': 78544340.0, 'Kings': 10597006.0, 'Lake': 63389888.0, 'Madera': 134692000.0, 'Marin': 346999.79, 'Mariposa': 48000.08, 'Mendocino': 88287267.0, 'Merced': 53425260.0, 'Monterey': 185925600.0, 'Napa': 546934240.0, 'Nevada': 888997.59, 'Placer': 520999.5, 'Riverside': 13639000.0, 'Sacramento': 128133959.99999999, 'SanBenito': 18373020.0, 'SanBernardino': 104000.49, 'SanDiego': 4233002.4, 'SanJoaquin': 351451500.0, 'SanLuisObispo': 146435432.0, 'SanMateo': 0, 'SantaBarbara': 106198168.0, 'SantaClara': 5509001.399999999, 'SantaCruz': 2351996.27, 'Shasta': 157000.32, 'Solano': 14988028.0, 'Sonoma': 446538300.0, 'Tulare': 42768000.0, 'Yolo': 70462210.0}, 2014: {'Alameda': 15756052.0, 'Amador': 15770939.999999998, 'Calaveras': 2727006.8, 'Colusa': 9874980.0, 'ElDorado': 7583013.6, 'Fresno': 258687000.0, 'Kern': 85779330.0, 'Kings': 16633946.000000002, 'Lake': 58866956.99999999, 'Madera': 132029520.0, 'Marin': 703001.0, 'Mariposa': 65999.76000000001, 'Mendocino': 93691300.0, 'Merced': 33402120.0, 'Monterey': 247358000.0, 'Napa': 714811680.0, 'Nevada': 1771004.4000000001, 'Placer': 758002.35, 'Riverside': 13635010.0, 'Sacramento': 130864500.0, 'SanBenito': 15335040.0, 'SanBernardino': 114999.84, 'SanDiego': 6567992.5, 'SanJoaquin': 481440000.0, 'SanLuisObispo': 203785010.0, 'SanMateo': 0, 'SantaBarbara': 155255784.0, 'SantaClara': 8368011.600000001, 'SantaCruz': 4879005.2, 'Shasta': 525999.6799999999, 'Solano': 17620990.0, 'Sonoma': 592798720.0, 'Tulare': 55669000.0, 'Yolo': 68959680.0}, 2013: {'Alameda': 15965035.0, 'Amador': 18712966.0, 'Calaveras': 3414996.6, 'Colusa': 13031928.000000002, 'ElDorado': 8010973.600000001, 'Fresno': 293330880.0, 'Kern': 124138400.0, 'Kings': 19058270.0, 'Lake': 61339968.00000001, 'Madera': 169599820.0, 'Marin': 874000.26, 'Mariposa': 162999.42, 'Mendocino': 113139622.99999999, 'Merced': 63204310.0, 'Mono': 47799.75, 'Monterey': 226982050.0, 'Napa': 656234250.0, 'Nevada': 1886994.8, 'Placer': 918997.5, 'Riverside': 13634047.0, 'Sacramento': 130115440.0, 'SanBenito': 21771926.0, 'SanBernardino': 181000.3, 'SanDiego': 6512996.3, 'SanJoaquin': 496366500.0, 'SanLuisObispo': 220354200.0, 'SanMateo': 0, 'SantaBarbara': 163361962.0, 'SantaClara': 8801995.0, 'SantaCruz': 4600997.399999999, 'Shasta': 372000.0, 'Solano': 17997104.0, 'Sonoma': 605067120.0, 'Trinity': 323001.14, 'Tulare': 65136000.0, 'Yolo': 69493050.0}, 2012: {'Alameda': 13763970.0, 'Amador': 15383940.000000002, 'Calaveras': 2813993.0, 'Colusa': 14982911.999999998, 'ElDorado': 7824009.0, 'Fresno': 346932000.0, 'Kern': 145058460.0, 'Kings': 16698180.0, 'Lake': 47879928.0, 'Madera': 207628119.99999997, 'Marin': 1226998.98, 'Mariposa': 116999.76000000001, 'Mendocino': 102305790.0, 'Merced': 57786600.0, 'Mono': 48999.75, 'Monterey': 214568280.0, 'Napa': 656236170.0, 'Nevada': 1196000.52, 'Placer': 768997.8600000001, 'Riverside': 10691989.399999999, 'Sacramento': 149533880.0, 'SanBenito': 19097022.0, 'SanBernardino': 382002.5, 'SanDiego': 5530008.9, 'SanJoaquin': 540302240.0, 'SanLuisObisp': 197940000.0, 'SanMateo': 0, 'SantaBarbara': 91107184.0, 'SantaClara': 7247994.800000001, 'SantaCruz': 5375009.9, 'Shasta': 234000.0, 'Solano': 19778038.0, 'Sonoma': 582941100.0, 'Trinity': 323001.14, 'Tulare': 75631010.0, 'Yolo': 66293304.0}, 2011: {'Alameda': 11916029.700000001, 'Amador': 11676042.0, 'Calaveras': 2916000.0, 'Colusa': 10710048.0, 'ElDorado': 5136980.8, 'Fresno': 303627500.0, 'Kern': 135154080.0, 'Kings': 16729914.0, 'Lake': 39992840.0, 'Madera': 162699240.0, 'Marin': 883000.64, 'Mariposa': 93200.0, 'Mendocino': 71596168.0, 'Merced': 50178960.0, 'Mono': 62999.740000000005, 'Monterey': 140975600.0, 'Napa': 423442480.0, 'Nevada': 1959993.5999999999, 'Placer': 400998.56000000006, 'Riverside': 6700977.8, 'Sacramento': 92926770.0, 'SanBenito': 14057022.0, 'SanBernardino': 271001.16, 'SanDiego': 904001.28, 'SanJoaquin': 285740640.0, 'SanLuisObispo': 129738400.00000001, 'SanMateo': 0, 'SantaBarbara': 76959252.0, 'SantaClara': 6601004.0, 'SantaCruz': 1607001.7000000002, 'Shasta': 378000.0, 'Solano': 10418980.0, 'Sonoma': 347079440.0, 'Trinity': 323001.14, 'Tulare': 79069260.0, 'Yolo': 48756816.0, 'Yuba': 143000.0}, 2010: {'Alameda': 11419002.0, 'Amador': 10383000.0, 'Calaveras': 3120000.0, 'ElDorado': 4899016.8, 'Fresno': 247213510.00000003, 'Kern': 119499760.0, 'Kings': 12485148.0, 'Lake': 35620086.0, 'Madera': 120512700.0, 'Marin': 1060999.2000000002, 'Mariposa': 80400.18, 'Mendocino': 73904214.0, 'Merced': 33763290.0, 'Mono': 57000.240000000005, 'Monterey': 172916610.0, 'Napa': 453883650.0, 'Nevada': 1031997.1200000001, 'Placer': 484001.6, 'Riverside': 7338995.4, 'Sacramento': 92555910.0, 'SanBenito': 16909074.0, 'SanBernardino': 337000.84, 'SanDiego': 784996.4, 'SanJoaquin': 247639800.0, 'SanLuisObispo': 173558040.0, 'SanMateo': 0, 'SantaBarbara': 97375115.0, 'SantaClara': 7058987.1, 'SantaCruz': 3065998.5, 'Shasta': 637998.72, 'Solano': 9275064.0, 'Sonoma': 390447360.0, 'Trinity': 323001.14, 'Tulare': 61400120.00000001, 'Yolo': 45650320.0, 'Yuba': 438000.15}, 2009: {'Alameda': 14024954.3, 'Amador': 11413952.0, 'Calaveras': 3360000.0, 'ElDorado': 5885414.2, 'Fresno': 203429249.6, 'Kern': 97990466.99999999, 'Kings': 14391134.280000001, 'Lake': 38450405.7, 'Madera': 118973161.25, 'Marin': 783901.14, 'Mariposa': 105000.0, 'Mendocino': 78502473.26, 'Merced': 41820705.16, 'Monterey': 238082900.00000003, 'Napa': 495018656.0, 'Nevada': 1405411.7, 'Placer': 504502.24, 'Riverside': 7084998.76, 'Sacramento': 94559238.0, 'SanBenito': 18856035.42, 'SanBernardino': 874302.1799999999, 'SanDiego': 883097.42, 'SanJoaquin': 283733702.70000005, 'SanLuisObispo': 166377282.0, 'SanMateo': 0, 'SantaBarbara': 137426625.0, 'SantaClara': 6982980.640000001, 'SantaCruz': 3238998.5399999996, 'Shasta': 744800.0, 'Solano': 12181579.02, 'Sonoma': 465037281.75, 'Trinity': 0, 'Tulare': 55337900.0, 'Yolo': 56423485.089999996, 'Yuba': 486999.04}, 2008: {'Alameda': 8586043.92, 'Amador': 14883866.74, 'Calaveras': 1287000.0, 'ElDorado': 5229089.16, 'Fresno': 260992293.0, 'Kern': 109341135.99999999, 'Kings': 9166830.32, 'Lake': 34227028.22, 'Madera': 139027585.14, 'Marin': 703900.81, 'Mariposa': 174000.64, 'Mendocino': 62047025.44, 'Merced': 33986557.8, 'Monterey': 238365900.00000003, 'Napa': 399912706.48, 'Nevada': 1522894.98, 'Placer': 497697.9, 'Riverside': 4489885.35, 'Sacramento': 67372025.0, 'SanBenito': 13904045.6, 'SanBernardino': 670499.5499999999, 'SanDiego': 633500.73, 'SanJoaquin': 220641463.4, 'SanLuisObispo': 124125594.4, 'SanMateo': 0, 'SantaBarbara': 86148107.85, 'SantaClara': 6460006.5, 'SantaCruz': 2939001.1700000004, 'Solano': 11064747.16, 'Sonoma': 381092169.28000003, 'Trinity': 0, 'Tulare': 64987304.199999996, 'Yolo': 42006065.400000006, 'Yuba': 574000.48}, 2007: {'Alameda': 6454974.94, 'Amador': 13286238.6, 'Calaveras': 1788003.75, 'ElDorado': 6021523.4399999995, 'Fresno': 154939408.0, 'Kern': 74205000.0, 'Kings': 6613124.13, 'Lake': 43449359.46, 'Madera': 117039758.22000001, 'Marin': 755700.33, 'Mariposa': 140000.40000000002, 'Mendocino': 75348598.49000001, 'Merced': 18008261.18, 'Monterey': 251603520.0, 'Napa': 472606178.55, 'Nevada': 2086602.3900000001, 'Placer': 449898.85000000003, 'Riverside': 4025600.0, 'Sacramento': 74571271.6, 'SanBenito': 24295994.1, 'SanBernardino': 627400.6900000001, 'SanDiego': 620103.05, 'SanJoaquin': 215413336.0, 'SanLuisObispo': 141673892.35999998, 'SanMateo': 0, 'SantaBarbara': 99918572.94, 'SantaClara': 6110007.0, 'SantaCruz': 3036999.42, 'Solano': 8095005.850000001, 'Sonoma': 416550028.61999995, 'Trinity': 0, 'Tulare': 43511348.7, 'Yolo': 46513020.48, 'Yuba': 203000.0}, 2006: {'Alameda': 8004635.98, 'Amador': 14709327.6, 'Calaveras': 1657000.8, 'ElDorado': 6186523.199999999, 'Fresno': 118694784.0, 'Kern': 65633179.0, 'Kings': 10322130.0, 'Lake': 43204443.12, 'Madera': 94264338.75, 'Marin': 497900.88, 'Mariposa': 123700.5, 'Mendocino': 87762676.0, 'Merced': 26887245.7, 'Monterey': 217982100.0, 'Napa': 469072736.08, 'Nevada': 1555302.1199999999, 'Placer': 472598.55, 'Riverside': 3999600.0, 'Sacramento': 72941506.39999999, 'SanBenito': 19568981.8, 'SanBernardino': 562703.16, 'SanDiego': 517798.16000000003, 'SanJoaquin': 203879012.7, 'SanLuisObispo': 151989294.60000002, 'SanMateo': 0, 'SantaBarbara': 107377849.12, 'SantaClara': 7448000.0, 'SantaCruz': 4302000.0, 'Solano': 9301364.0, 'Sonoma': 430497868.48, 'Trinity': 0, 'Tulare': 36248751.3, 'Yolo': 38047281.120000005, 'Yuba': 199000.5}, 2005: {'Alameda': 8552018.52, 'Amador': 13183814.92, 'Calaveras': 1560000.0, 'ElDorado': 4940016.4, 'Fresno': 196160265.0, 'Kern': 84863977.4, 'Kings': 11238911.72, 'Lake': 38149238.25, 'Madera': 139780142.5, 'Marin': 265600.16, 'Mariposa': 141999.59999999998, 'Mendocino': 72558121.62, 'Merced': 34367165.14, 'Monterey': 254613880.0, 'Napa': 540799515.75, 'Nevada': 1685504.0999999999, 'Placer': 402699.10000000003, 'Riverside': 3972416.25, 'Sacramento': 108137254.39999999, 'SanBenito': 19979952.18, 'SanBernardino': 1165701.6, 'SanDiego': 390802.72, 'SanJoaquin': 288657087.0, 'SanLuisObispo': 194373407.16, 'SanMateo': 0, 'SantaBarbara': 160365223.34, 'SantaClara': 7300024.0, 'SantaCruz': 1757999.75, 'Solano': 11708093.67, 'Sonoma': 430564022.40000004, 'Trinity': 0, 'Tulare': 47618865.9, 'Yolo': 41967153.099999994, 'Yuba': 88999.68000000001}, 2004: {'Alameda': 9051985.72, 'Amador': 13375032.71, 'Calaveras': 1260000.0, 'ElDorado': 4608181.56, 'Fresno': 197116010.0, 'Kern': 73661577.0, 'Kings': 7527156.0, 'Lake': 31750946.240000002, 'Madera': 133964906.91, 'Marin': 266100.21, 'Mariposa': 99999.90000000001, 'Mendocino': 60141529.480000004, 'Merced': 20993138.1, 'Monterey': 174380480.0, 'Napa': 349499839.44, 'Nevada': 2190693.12, 'Placer': 646899.8400000001, 'Riverside': 2388207.25, 'Sacramento': 74432264.4, 'SanBenito': 18916944.72, 'SanBernardino': 444398.79, 'SanDiego': 378000.0, 'SanJoaquin': 187973362.79, 'SanLuisObispo': 127435305.12, 'SanMateo': 0, 'SantaBarbara': 83427477.82, 'SantaClara': 6140021.58, 'SantaCruz': 1462003.2, 'Solano': 10231106.5, 'Sonoma': 312109707.12, 'Trinity': 0, 'Tulare': 51575864.0, 'Yolo': 33340851.88, 'Yuba': 275000.11}, 2003: {'Alameda': 7892028.250000001, 'Amador': 10530968.0, 'Calaveras': 900000.0, 'ElDorado': 4430008.510000001, 'Fresno': 121018420.0, 'Kern': 49974246.0, 'Kings': 5115970.5, 'Lake': 31332037.299999997, 'Madera': 87991718.72, 'Marin': 231000.08000000002, 'Mariposa': 117999.64, 'Mendocino': 70360542.0, 'Merced': 29173432.169999998, 'Monterey': 160218812.16000003, 'Napa': 384599959.79999995, 'Nevada': 1765495.5999999999, 'Placer': 364700.16, 'Riverside': 3263792.0, 'Sacramento': 63003334.0, 'SanBenito': 21827050.0, 'SanBernardino': 446401.76, 'SanDiego': 240299.04, 'SanJoaquin': 174236256.0, 'SanLuisObispo': 123453890.88, 'SanMateo': 0, 'SantaBarbara': 65848251.809999995, 'SantaClara': 6484016.760000001, 'SantaCruz': 2580002.88, 'Solano': 10006767.6, 'Sonoma': 316262809.6, 'Trinity': 0, 'Tulare': 36225739.199999996, 'Yolo': 37366345.62, 'Yuba': 220999.44999999998}, 2002: {'Alameda': 5396918.0, 'Amador': 11116140.0, 'Calaveras': 1320560.0, 'ElDorado': 4681180.0, 'Fresno': 130862100.0, 'Kern': 55115060.0, 'Kings': 4583628.0, 'Lake': 32256072.0, 'Madera': 89898640.0, 'Marin': 255055.0, 'Mariposa': 136024.0, 'Mendocino': 81301000.0, 'Merced': 28128100.0, 'Monterey': 147113834.0, 'Napa': 379889080.0, 'Nevada': 1838538.0, 'Placer': 417300.0, 'Riverside': 3520400.0, 'Sacramento': 73875648.0, 'SanBenito': 15617005.0, 'SanBernardino': 429408.0, 'SanDiego': 61901.0, 'SanJoaquin': 211891680.0, 'SanLuisObispo': 117925240.0, 'SanMateo': 0, 'SantaBarbara': 72371988.0, 'SantaClara': 7968597.0, 'SantaCruz': 3294000.0, 'Solano': 13228047.0, 'Sonoma': 376350645.0, 'Trinity': 168560.0, 'Tulare': 41328000.0, 'Yolo': 44697812.0, 'Yuba': 511832.0}, 2001: {'Alameda': 10090159.0, 'Calaveras': 1536000.0, 'ElDorado': 4316130.0, 'Fresno': 106743060.0, 'Kern': 48097500.0, 'Kings': 5084872.0, 'Lake': 28732788.0, 'Madera': 76649652.0, 'Marin': 465804.0, 'Mariposa': 160284.0, 'Mendocino': 87678528.0, 'Merced': 24604943.0, 'Napa': 354279276.0, 'Nevada': 1243256.0, 'Placer': 81000.0, 'Riverside': 9323100.0, 'Sacramento': 95364192.0, 'SanBenito': 15855576.0, 'SanBernardino': 66640.0, 'SanDiego': 84250.0, 'SanJoaquin': 242189200.0, 'SanLuisObispo': 138045882.0, 'SanMateo': 0, 'SantaBarbara': 118355980.0, 'SantaClara': 9313920.0, 'SantaCruz': 3702370.0, 'Solano': 13951960.0, 'Sonoma': 374418531.0, 'Trinity': 168560.0, 'Tulare': 52369800.0, 'Yolo': 33257172.0, 'Yuba': 319154.0}, 2000: {'Alameda': 6497355.0, 'Calaveras': 1690000.0, 'ElDorado': 4059600.0, 'Fresno': 147849870.0, 'Kern': 77545160.0, 'Kings': 4424382.0, 'Lake': 25005120.0, 'Madera': 104078718.0, 'Marin': 235053.0, 'Mariposa': 158994.0, 'Mendocino': 87972484.0, 'Merced': 38759904.0, 'Napa': 337474368.0, 'Nevada': 1185872.0, 'Riverside': 12206168.0, 'Sacramento': 95231120.0, 'SanBenito': 18070800.0, 'SanBernardino': 174794.0, 'SanDiego': 96600.0, 'SanJoaquin': 295530400.0, 'SanLuisObispo': 134699040.0, 'SanMateo': 0, 'SantaClara': 10374741.0, 'SantaCruz': 1744128.0, 'Solano': 18124993.0, 'Sonoma': 389781927.0, 'Trinity': 168560.0, 'Tulare': 59717430.0, 'Yolo': 40844661.0, 'Yuba': 784944.0}, 1999: {'Alameda': 8522220.0, 'Amador': 11061471.0, 'Calaveras': 1413600.0, 'ElDorado': 3880200.0, 'Fresno': 164456670.0, 'Kern': 102926600.0, 'Kings': 7127964.0, 'Lake': 18292608.0, 'Madera': 113756832.0, 'Marin': 299925.0, 'Mariposa': 106036.0, 'Mendocino': 85332840.0, 'Merced': 43129518.0, 'Napa': 221856218.0, 'Nevada': 929962.0, 'Riverside': 10158072.0, 'Sacramento': 90409113.0, 'SanBenito': 13454672.0, 'SanBernardino': 789964.0, 'SanDiego': 161280.0, 'SanJoaquin': 287022400.0, 'SanLuisObispo': 83632416.0, 'SanMateo': 0, 'SantaBarbara': 60132930.0, 'SantaClara': 12531200.0, 'SantaCruz': 1511944.0, 'Solano': 14132034.0, 'Sonoma': 269281530.0, 'Trinity': 168560.0, 'Tulare': 68627400.0, 'Yolo': 35444640.0, 'Yuba': 989310.0}, 1998: {'Alameda': 5265850.0, 'Amador': 7051590.0, 'Calaveras': 1188000.0, 'ElDorado': 3156426.0, 'Fresno': 175590030.0, 'Kern': 103680290.0, 'Kings': 6216264.0, 'Lake': 15226875.0, 'Madera': 110575676.0, 'Mariposa': 104004.0, 'Mendocino': 83147918.0, 'Merced': 46436858.0, 'Monterey': 178632000.0, 'Napa': 195498050.0, 'Nevada': 603330.0, 'Riverside': 13502160.0, 'Sacramento': 77377200.0, 'SanBenito': 10359360.0, 'SanBernardino': 687570.0, 'SanDiego': 236187.0, 'SanJoaquin': 271022400.0, 'SanLuisObispo': 74337628.0, 'SanMateo': 0, 'SantaBarbara': 59192000.0, 'SantaClara': 8398000.0, 'SantaCruz': 505890.0, 'Solano': 11433962.0, 'Sonoma': 231868920.0, 'Stanislaus': 38475000.0, 'Trinity': 0, 'Tulare': 63163620.0, 'Yolo': 46858392.0, 'Yuba': 614884.0}, 1997: {'Alameda': 10387728.0, 'Amador': 9348275.0, 'Calaveras': 1141300.0, 'ElDorado': 3798072.0, 'Fresno': 220259250.0, 'Kern': 114336730.0, 'Kings': 7722183.0, 'Lake': 16231215.0, 'Madera': 152138379.0, 'Mariposa': 165991.0, 'Mendocino': 89742904.0, 'Merced': 57357795.0, 'Monterey': 203330432.0, 'Napa': 248630108.0, 'Nevada': 1168237.0, 'Riverside': 11558520.0, 'Sacramento': 41856640.0, 'SanBenito': 16287514.0, 'SanBernardino': 2052486.0, 'SanDiego': 283972.0, 'SanJoaquin': 290507400.0, 'SanLuisObispo': 83677104.0, 'SanMateo': 0, 'SantaBarbara': 51360736.0, 'SantaCruz': 2107490.0, 'Solano': 16051540.0, 'Sonoma': 298213986.0, 'Stanislaus': 45632000.0, 'Tulare': 80896700.0, 'Yolo': 37362872.0}, 1996: {'Alame

Вот так выглядит, например, информация за 2020 год:

In [5]:
print(data[2020])

{'Alameda': 19469970.0, 'Amador': 16347044.0, 'Calaveras': 2347002.3, 'Colusa': 3081015.0, 'ContraCosta': 6829044.3, 'ElDorado': 9663014.4, 'Fresno': 249876600.0, 'Kern': 59667600.00000001, 'Kings': 16954017.0, 'Lake': 52510114.99999999, 'Madera': 136102200.0, 'Marin': 937999.4, 'Mendocino': 82181760.0, 'Merced': 63419040.0, 'Monterey': 105991314.0, 'Napa': 461395463.99999994, 'Nevada': 0, 'Placer': 1964995.7099999997, 'Riverside': 18999981.0, 'Sacramento': 155975350.0, 'SanBenito': 34773072.0, 'SanBernardino': 440000.91, 'SanDiego': 5206013.9, 'SanJoaquin': 340911680.0, 'SanLuisObispo': 218238370.0, 'SanMateo': 0, 'SantaBarbara': 93836004.0, 'SantaClara': 11981970.8, 'SantaCruz': 4814000.0, 'Shasta': 500000.0, 'Solano': 21189056.0, 'Sonoma': 351511840.0, 'Stanislaus': 35557227.0, 'Tehama': 1053997.3599999999, 'Tulare': 35504000.0, 'Yolo': 104950500.0}

А так можно найти округ с максимальной выручкой:

In [11]:
sorted([(revenue, county) for county, revenue in data[2020].items()])[-1]

(461395463.99999994, 'Napa')

Посмотрим на округа с максимальной выручкой по каждому году. Дополнительно можем учитывать, сколько раз мы втречали каждый округ.

In [6]:
counties = {}
for year in sorted(data):
    res = sorted([(revenue, county) for county, revenue in data[year].items()])[-1]
    counties.setdefault(res[1], 0)
    counties[res[1]] += 1
    print(f'В {year} году больше всего выручки получил округ {res[1]}')
    print(f'Выручка составила {res[0]} доллара')

В 1980 году больше всего выручки получил округ Fresno
Выручка составила 62483400.0 доллара
В 1981 году больше всего выручки получил округ Fresno
Выручка составила 59860000.0 доллара
В 1982 году больше всего выручки получил округ Napa
Выручка составила 76285051.0 доллара
В 1983 году больше всего выручки получил округ Napa
Выручка составила 63605976.0 доллара
В 1984 году больше всего выручки получил округ Napa
Выручка составила 76796928.0 доллара
В 1985 году больше всего выручки получил округ Napa
Выручка составила 78286204.0 доллара
В 1986 году больше всего выручки получил округ Napa
Выручка составила 85707540.0 доллара
В 1987 году больше всего выручки получил округ Napa
Выручка составила 82147600.0 доллара
В 1988 году больше всего выручки получил округ SanJoaquin
Выручка составила 146273400.0 доллара
В 1989 году больше всего выручки получил округ Napa
Выручка составила 153706293.0 доллара
В 1990 году больше всего выручки получил округ Napa
Выручка составила 140479616.0 доллара
В 1991 году больше всего выручки получил округ Napa
Выручка составила 174285720.0 доллара
В 1992 году больше всего выручки получил округ Napa
Выручка составила 167717440.0 доллара
В 1993 году больше всего выручки получил округ Napa
Выручка составила 134464745.0 доллара
В 1994 году больше всего выручки получил округ Sonoma
Выручка составила 152330520.0 доллара
В 1995 году больше всего выручки получил округ SanJoaquin
Выручка составила 221200800.0 доллара
В 1996 году больше всего выручки получил округ SanJoaquin
Выручка составила 236889400.0 доллара
В 1997 году больше всего выручки получил округ Sonoma
Выручка составила 298213986.0 доллара
В 1998 году больше всего выручки получил округ SanJoaquin
Выручка составила 271022400.0 доллара
В 1999 году больше всего выручки получил округ SanJoaquin
Выручка составила 287022400.0 доллара
В 2000 году больше всего выручки получил округ Sonoma
Выручка составила 389781927.0 доллара
В 2001 году больше всего выручки получил округ Sonoma
Выручка составила 374418531.0 доллара
В 2002 году больше всего выручки получил округ Napa
Выручка составила 379889080.0 доллара
В 2003 году больше всего выручки получил округ Napa
Выручка составила 384599959.79999995 доллара
В 2004 году больше всего выручки получил округ Napa
Выручка составила 349499839.44 доллара
В 2005 году больше всего выручки получил округ Napa
Выручка составила 540799515.75 доллара
В 2006 году больше всего выручки получил округ Napa
Выручка составила 469072736.08 доллара
В 2007 году больше всего выручки получил округ Napa
Выручка составила 472606178.55 доллара
В 2008 году больше всего выручки получил округ Napa
Выручка составила 399912706.48 доллара
В 2009 году больше всего выручки получил округ Napa
Выручка составила 495018656.0 доллара
В 2010 году больше всего выручки получил округ Napa
Выручка составила 453883650.0 доллара
В 2011 году больше всего выручки получил округ Napa
Выручка составила 423442480.0 доллара
В 2012 году больше всего выручки получил округ Napa
Выручка составила 656236170.0 доллара
В 2013 году больше всего выручки получил округ Napa
Выручка составила 656234250.0 доллара
В 2014 году больше всего выручки получил округ Napa
Выручка составила 714811680.0 доллара
В 2015 году больше всего выручки получил округ Napa
Выручка составила 546934240.0 доллара
В 2016 году больше всего выручки получил округ Napa
Выручка составила 729507060.0000001 доллара
В 2017 году больше всего выручки получил округ Napa
Выручка составила 750832100.0 доллара
В 2018 году больше всего выручки получил округ Napa
Выручка составила 1038599250.0 доллара
В 2019 году больше всего выручки получил округ Napa
Выручка составила 937961600.0 доллара
В 2020 году больше всего выручки получил округ Napa
Выручка составила 461395463.99999994 доллара

In [8]:
counties

{'Fresno': 2, 'Napa': 30, 'SanJoaquin': 5, 'Sonoma': 4}

In [9]:
res2 = sorted([(v, k) for k, v in counties.items()], reverse = True)
print(res2)

[(30, 'Napa'), (5, 'SanJoaquin'), (4, 'Sonoma'), (2, 'Fresno')]

### Запись информации в файл <a name="par1.3"></a>

А теперь попробуем все, что мы сейчас получили, записать файл. Для этого нам снова понадобится слово `with` и функция `open()`. Назовем наш файл `wine_result.txt`

In [10]:
with open('wine_result.txt', 'w', encoding = 'utf8') as output_file:
    # скопируем сюда предыдущий код
    for year in sorted(data):
        res = sorted([(revenue, county) for county, revenue in data[year].items()])[-1]
        
        print(f'В {year} году больше всего выручки получил округ {res[1]}', file = output_file)
        print(f'Выручка составила {res[0]} доллара', file = output_file)
    
    print('===', file = output_file)
    print('Подведем итог:', file = output_file)
    for county in res2:
        print(f'Округ {county[1]} был лучшим {county[0]} раз/раза', file = output_file)

Тут ячейка ничего не должна нам выдавать, однако(!) обратите внимание: теперь в папке с блокнотом появился файл `wine_result.txt` со всей информацией, которую мы только что туда записали.

<center><b>Задание 1. Работа с файлами.</b></center>

Скачайте файл об [академической успеваемости студентов](https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance) и поместите его в вашу рабочую директорию (папку, в которой открыт этот ноутбук).

В вашем файле будут следующие колонки:
* `"gender"`
* `"race_ethnicity"`
* `"parental_level_of_education"`
* `"lunch"`
* `"test_preparation_course"`
* `"math_score"`
* `"reading_score"`
* `"writing_score"`

Откройте файл с помощью `with()`, **посчитайте и выведите следующие значения:**

* Число девушек, чьи родители получили магистерскую степень;
* Средний балл девушек по математике;
* Средний балл юношей по математике

**А далее напечатайте только те строки из вашего `.csv` файла**, в которых записана информация о девушках, получивших оценку по математике выше среднего балла для девушек *или* информация о юношах, получивших оценку по математике выше среднего балла для юношей.

In [41]:
# YOUR CODE HERE

In [40]:
# YOUR CODE HERE

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/arsenchik/miniforge3/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/arsenchik/miniforge3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/arsenchik/miniforge3/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /Users/arsenchik/miniforge3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/arsenchik/miniforge3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

## Основы работы в `pandas` <a name="par2"></a>

В этом разделе мы, очевидно, и близко не сможем разобрать вообще все. Попробуем сформулировать содержательные вопросы к нашим данным и посмотреть, с помощью каких интрументов возможно их проанализировать.

Обратите внимание – сейчас мы с вами будем работать с тем же файлом `.csv` что и ранее. Однако, `pandas` представляет нам более удобные возможности по обработке и анализу наших данных.

In [2]:
import pandas as pd

data = pd.read_csv('wine.csv')
data.head() # первые 5 строк файла

   Year  CountyCode       County  HarvestedAcres  Yield  Production    Price
0  2020           1      Alameda          2530.0   5.14     13000.0  1497.69
1  2020           5       Amador          5360.0   2.31     12400.0  1318.31
2  2020           9    Calaveras           579.0   3.06      1770.0  1325.99
3  2020          11       Colusa           747.0   6.02      4500.0   684.67
4  2020          13  ContraCosta          1940.0   4.69      9090.0   751.27

In [3]:
data.tail()

      Year  CountyCode      County  HarvestedAcres  Yield  Production  Price
1310  1980          95      Solano          1138.0   3.99      4544.0  315.0
1311  1980          97      Sonoma         23639.0   3.34     78941.0  506.0
1312  1980          99  Stanislaus         17950.0   8.80    157900.0  183.0
1313  1980         107      Tulare         15159.0   8.88    134600.0  170.0
1314  1980         113        Yolo           566.0   8.70      4924.0  274.0

In [4]:
data.shape

(1315, 7)

In [5]:
data.dtypes

Year                int64
CountyCode          int64
County             object
HarvestedAcres    float64
Yield             float64
Production        float64
Price             float64
dtype: object

In [7]:
data.describe()

,Year,CountyCode,HarvestedAcres,Yield,Production,Price
count,1315.000000,1315.000000,1302.000000,1266.000000,1.278000e+03,1278.000000
mean,2001.171103,59.051711,14546.443164,5.176288,1.023638e+05,928.027363
std,11.751631,31.083778,20576.581018,3.267309,1.711560e+05,1244.949783
min,1980.000000,1.000000,3.000000,0.060000,2.300000e+01,74.000000
25%,1991.000000,33.000000,805.750000,2.940000,3.259750e+03,335.827500
50%,2002.000000,61.000000,3699.000000,4.040000,1.740000e+04,723.500000
75%,2011.000000,83.000000,23884.500000,7.185000,1.298860e+05,1236.887500
max,2020.000000,115.000000,128613.000000,25.000000,1.040100e+06,36342.070000

### Фильтрация, сортировка, группировка, создание новых признаков <a name="par2.1"></a>

**1. Сколько всего округов, где производят вино? Сколько всего округов когда-либо производило больше 500 000 тонн продукции?**

In [8]:
data["County"].unique()

array(['Alameda', 'Amador', 'Calaveras', 'Colusa', 'ContraCosta',
       'ElDorado', 'Fresno', 'Kern', 'Kings', 'Lake', 'Madera', 'Marin',
       'Mendocino', 'Merced', 'Monterey', 'Napa', 'Nevada', 'Placer',
       'Riverside', 'Sacramento', 'SanBenito', 'SanBernardino',
       'SanDiego', 'SanJoaquin', 'SanLuisObispo', 'SanMateo',
       'SantaBarbara', 'SantaClara', 'SantaCruz', 'Shasta', 'Solano',
       'Sonoma', 'Stanislaus', 'Tehama', 'Tulare', 'Yolo', 'Mariposa',
       'Trinity', 'Mono', 'SanLuisObisp', 'Yuba', 'Glenn'], dtype=object)

In [17]:
len(data['County'].unique()) # .unique() выдает уникальные значения

42

Далее синтаксис такой: `данные[условие, по которому фильтруем][столбец, который забираем]`

In [11]:
data[data['Production'] > 500000]["County"].unique()

array(['Fresno', 'SanJoaquin', 'Madera'], dtype=object)

In [18]:
len(data[data['Production'] > 500000]['County'].unique())

3

**2. Сравните производство округа Калаверас (Calaveras) в 2000 и 2020 годах. Верно ли, что цена за тонну продукции увеличилась на 325 долларов?**

In [12]:
# здесь у нас несколько условий для фильтрации
data[((data['Year'] == 2000) | (data['Year'] == 2020)) & (data['County'] == 'Calaveras')]

     Year  CountyCode     County  HarvestedAcres  Yield  Production    Price
2    2020           9  Calaveras           579.0   3.06      1770.0  1325.99
703  2000           9  Calaveras           470.0   3.60      1690.0  1000.00

**3. В каком году округ Колуса (Colusa) произвел наибольшее/наименьшее количество продукции?**

Отсортировать столбец нам поможет метод `.sort_values()` (обязательно в нем прописываем `by = ` т.е. столбец, по которому фильтруем).

Методы `.tail()` и `.head()` выдают нам низ и верх таблицы (мы указали 1, значит выдаст одну строку снизу и одну строку сверху).

In [13]:
data[data['County'] == 'Colusa']

     Year  CountyCode  County  HarvestedAcres  Yield  Production   Price
3    2020          11  Colusa           747.0   6.02      4500.0  684.67
39   2019          11  Colusa          1890.0   8.84     16700.0  806.35
77   2018          11  Colusa          1970.0   8.22     16200.0  853.46
114  2017          11  Colusa          1670.0  10.42     17400.0  773.10
150  2016          11  Colusa          1390.0  10.36     14400.0  542.15
186  2015          11  Colusa          1820.0   8.35     15200.0  463.82
221  2014          11  Colusa          2170.0   8.29     18000.0  548.61
255  2013          11  Colusa          2460.0   8.29     20400.0  638.82
291  2012          11  Colusa          2450.0  10.29     25200.0  594.56
327  2011          11  Colusa          2400.0   7.25     17400.0  615.52

In [14]:
data[data['County'] == 'Colusa'].sort_values(by = 'Production')

     Year  CountyCode  County  HarvestedAcres  Yield  Production   Price
3    2020          11  Colusa           747.0   6.02      4500.0  684.67
150  2016          11  Colusa          1390.0  10.36     14400.0  542.15
186  2015          11  Colusa          1820.0   8.35     15200.0  463.82
77   2018          11  Colusa          1970.0   8.22     16200.0  853.46
39   2019          11  Colusa          1890.0   8.84     16700.0  806.35
114  2017          11  Colusa          1670.0  10.42     17400.0  773.10
327  2011          11  Colusa          2400.0   7.25     17400.0  615.52
221  2014          11  Colusa          2170.0   8.29     18000.0  548.61
255  2013          11  Colusa          2460.0   8.29     20400.0  638.82
291  2012          11  Colusa          2450.0  10.29     25200.0  594.56

In [20]:
data[data['County'] == 'Colusa'].sort_values(by = 'Production').tail(1)

     Year  CountyCode  County  HarvestedAcres  Yield  Production   Price
291  2012          11  Colusa          2450.0  10.29     25200.0  594.56

In [21]:
data[data['County'] == 'Colusa'].sort_values(by = 'Production').head(1)

   Year  CountyCode  County  HarvestedAcres  Yield  Production   Price
3  2020          11  Colusa           747.0   6.02      4500.0  684.67

**4. Создайте столбец с выручкой окргуа (количество продукции в тоннах умножаем на цену за тонну). Какой округ заработал больше остальных в 1999 году?**

In [15]:
data['Value'] = data['Production'] * data['Price']
data.head()

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
0,2020,1,Alameda,2530.0,5.14,13000.0,1497.69,19469970.0
1,2020,5,Amador,5360.0,2.31,12400.0,1318.31,16347044.0
2,2020,9,Calaveras,579.0,3.06,1770.0,1325.99,2347002.3
3,2020,11,Colusa,747.0,6.02,4500.0,684.67,3081015.0
4,2020,13,ContraCosta,1940.0,4.69,9090.0,751.27,6829044.3

По умолчанию `.sort_values()` сортирует от меньшего к большему, но если указать `ascending = False`, то будет наоборот.

In [16]:
data[data['Year'] == 1999].sort_values(by = 'Value', ascending = False)

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
752,1999,77,SanJoaquin,82012.0,6.69,548800.0,523.0,287022400.0
759,1999,97,Sonoma,42227.0,3.37,142477.0,1890.0,269281530.0
745,1999,55,Napa,30506.0,3.39,103526.0,2143.0,221856218.0
736,1999,19,Fresno,128613.0,5.40,693910.0,237.0,164456670.0
740,1999,39,Madera,54200.0,8.33,451416.0,252.0,113756832.0
737,1999,29,Kern,49716.0,7.99,397400.0,259.0,102926600.0
748,1999,67,Sacramento,22630.0,6.90,156147.0,579.0,90409113.0
743,1999,45,Mendocino,13994.0,4.19,58648.0,1455.0,85332840.0
753,1999,79,SanLuisObispo,16272.0,3.99,64932.0,1288.0,83632416.0
761,1999,107,Tulare,30969.0,9.63,298380.0,230.0,68627400.0
755,1999,83,SantaBarbara,14064.0,2.99,42051.0,1430.0,60132930.0
744,1999,47,Merced,15050.0,6.97,104938.0,411.0,43129518.0
762,1999,113,Yolo,8704.0,6.17,53704.0,660.0,35444640.0
739,1999,33,Lake,4107.0,3.69,15168.0,1206.0,18292608.0
758,1999,95,Solano,3390.0,3.93,13307.0,1062.0,14132034.0
749,1999,69,SanBenito,2494.0,3.66,9128.0,1474.0,13454672.0
756,1999,85,SantaClara,1600.0,4.40,7040.0,1780.0,12531200.0
733,1999,5,Amador,2831.0,4.10,11607.0,953.0,11061471.0
747,1999,65,Riverside,2319.0,4.83,11212.0,906.0,10158072.0
732,1999,1,Alameda,2018.0,3.57,7210.0,1182.0,8522220.0
738,1999,31,Kings,2263.0,15.44,34941.0,204.0,7127964.0
735,1999,17,ElDorado,981.0,3.41,3345.0,1160.0,3880200.0
757,1999,87,SantaCruz,260.0,2.64,686.0,2204.0,1511944.0
734,1999,9,Calaveras,320.0,3.88,1240.0,1140.0,1413600.0
763,1999,115,Yuba,395.0,1.86,735.0,1346.0,989310.0
746,1999,57,Nevada,201.0,4.49,902.0,1031.0,929962.0
750,1999,71,SanBernardino,401.0,3.11,1246.0,634.0,789964.0
741,1999,41,Marin,91.0,1.70,155.0,1935.0,299925.0
760,1999,105,Trinity,NaN,NaN,140.0,1204.0,168560.0
751,1999,73,SanDiego,189.0,2.03,384.0,420.0,161280.0
742,1999,43,Mariposa,68.0,1.44,98.0,1082.0,106036.0
754,1999,81,SanMateo,40.0,NaN,NaN,NaN,NaN

In [23]:
data[data['Year'] == 1999].sort_values(by = 'Value', ascending = False).head(1)

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
752,1999,77,SanJoaquin,82012.0,6.69,548800.0,523.0,287022400.0

### Меры центральной тенденции и меры разброса <a name="par2.2"></a>

**5. Какова средняя урожайность на акр в 2020 году?**

In [24]:
data[data['Year'] == 2020]['Yield'].mean()

5.570294117647059

**6. Выберите только 2015 год. Найдите выбросы по переменной, отвечающей за количество собранных акров винограда, используя межквартильный размах. Какие округи попадают в выбросы?**

In [25]:
data_15 = data[data['Year'] == 2015]
q1 = data_15['HarvestedAcres'].quantile(0.25)
q3 = data_15['HarvestedAcres'].quantile(0.75)

iqr = q3-q1

bottom = q1 - 1.5 * iqr
top = q3 + 1.5 * iqr

data_15[data_15['HarvestedAcres'] > top]

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
207,2015,77,SanJoaquin,97900.0,6.23,610000.0,576.15,351451500.0

**7. Посчитайте среднее и медиану по цене за тонну до и после удаления выбросов (предыдущий пункт). Как изменились меры?**

In [26]:
no_outliners = data_15[data_15['HarvestedAcres'] <= top]

print(data_15['HarvestedAcres'].mean(), data_15['HarvestedAcres'].median())
print(no_outliners['HarvestedAcres'].mean(), no_outliners['HarvestedAcres'].median())

15939.657142857142 4120.0
13529.058823529413 3725.0

**8. В каком году и каким округом было произведено максимальное/минимальное количество продукции?**

In [27]:
data[data['Production'] == data['Production'].max()]

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
436,2008,19,Fresno,69631.0,14.94,1040100.0,250.93,260992293.0

In [28]:
data[data['Production'] == data['Production'].min()]

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
1225,1983,57,Nevada,NaN,NaN,23.0,500.0,11500.0

**9. Верно ли, что округ Фресно (Fresno) с 1980 года стабильно производит продукцию больше медианного показателя?**

In [29]:
med = data[data['Production'] > data['Production'].median()]
med[med['County'] == 'Fresno']

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value
6,2020,19,Fresno,56900.0,12.13,690000.0,362.14,249876600.0
42,2019,19,Fresno,53500.0,13.83,740000.0,343.65,254301000.0
80,2018,19,Fresno,59500.0,12.92,769000.0,373.14,286944660.0
117,2017,19,Fresno,59700.0,13.32,795000.0,361.02,287010900.0
153,2016,19,Fresno,75500.0,10.00,755000.0,382.85,289051750.0
189,2015,19,Fresno,60200.0,12.79,770000.0,312.55,240663500.0
223,2014,19,Fresno,58700.0,11.24,660000.0,391.95,258687000.0
257,2013,19,Fresno,54571.0,13.12,716000.0,409.68,293330880.0
293,2012,19,Fresno,86700.0,10.38,900000.0,385.48,346932000.0
329,2011,19,Fresno,68900.0,13.13,905000.0,335.50,303627500.0
365,2010,19,Fresno,60100.0,14.69,883000.0,279.97,247213510.0
401,2009,19,Fresno,64376.0,12.48,803560.0,253.16,203429249.6
436,2008,19,Fresno,69631.0,14.94,1040100.0,250.93,260992293.0
470,2007,19,Fresno,61224.0,11.81,722800.0,214.36,154939408.0
504,2006,19,Fresno,64116.0,8.83,566400.0,209.56,118694784.0
538,2005,19,Fresno,77598.0,11.32,878500.0,223.29,196160265.0
572,2004,19,Fresno,96692.0,9.01,871000.0,226.31,197116010.0
606,2003,19,Fresno,72186.0,10.09,728500.0,166.12,121018420.0
640,2002,19,Fresno,85701.0,10.83,928100.0,141.00,130862100.0
673,2001,19,Fresno,76393.0,8.37,639180.0,167.00,106743060.0
705,2000,19,Fresno,75139.0,11.12,835310.0,177.00,147849870.0
736,1999,19,Fresno,128613.0,5.40,693910.0,237.00,164456670.0
768,1998,19,Fresno,81747.0,9.30,760130.0,231.00,175590030.0
801,1997,19,Fresno,87220.0,11.22,978930.0,225.00,220259250.0
831,1996,19,Fresno,86319.0,8.54,737490.0,230.00,169622700.0
859,1995,19,Fresno,63633.0,10.11,643400.0,195.00,125463000.0
889,1994,19,Fresno,46448.0,8.52,395800.0,170.00,67286000.0
918,1993,19,Fresno,61022.0,10.93,667100.0,182.00,121412200.0
947,1992,19,Fresno,77293.0,10.67,825100.0,195.00,160894500.0
976,1991,19,Fresno,32900.0,9.26,304780.0,162.00,49374360.0
1005,1990,19,Fresno,33715.0,10.28,346750.0,158.00,54786500.0
1034,1989,19,Fresno,34239.0,8.39,287300.0,186.00,53437800.0
1063,1988,19,Fresno,34867.0,9.90,345100.0,167.00,57631700.0
1094,1987,19,Fresno,35671.0,7.93,283000.0,149.00,42167000.0
1125,1986,19,Fresno,37535.0,7.47,280300.0,138.00,38681400.0
1154,1985,19,Fresno,37851.0,10.62,401900.0,115.00,46218500.0
1184,1984,19,Fresno,34434.0,8.68,298900.0,138.00,41248200.0
1215,1983,19,Fresno,32885.0,8.80,289400.0,160.00,46304000.0
1246,1982,19,Fresno,31691.0,11.19,354600.0,153.00,54253800.0
1274,1981,19,Fresno,34210.0,8.54,292000.0,205.00,59860000.0
1296,1980,19,Fresno,35170.0,10.21,359100.0,174.00,62483400.0

**10. В столбце Yield заполните пропущенные значения нулями. Затем создайте новый признак со значением 0 или 1, где 0 — урожайность ниже среднего значения, а 1 — урожайность выше среднего. Каких округов больше? Какой округ во все года попадал в категорию 0 (урожайность ниже среднего значения)?**

In [30]:
data['Yield'] = data['Yield'].fillna(0)
data['Yield_0_1'] = data['Yield'].apply(lambda x: 0 if x < data['Yield'].mean() else 1)
data.head()

,Year,CountyCode,County,HarvestedAcres,Yield,Production,Price,Value,Yield_0_1
0,2020,1,Alameda,2530.0,5.14,13000.0,1497.69,19469970.0,1
1,2020,5,Amador,5360.0,2.31,12400.0,1318.31,16347044.0,0
2,2020,9,Calaveras,579.0,3.06,1770.0,1325.99,2347002.3,0
3,2020,11,Colusa,747.0,6.02,4500.0,684.67,3081015.0,1
4,2020,13,ContraCosta,1940.0,4.69,9090.0,751.27,6829044.3,0

In [31]:
data['Yield_0_1'].value_counts()

0    838
1    477
Name: Yield_0_1, dtype: int64

In [32]:
data[data['Yield_0_1'] == 0]['County'].value_counts()

Napa             41
Sonoma           40
Calaveras        40
SanDiego         39
SanBernardino    39
Amador           38
SanBenito        37
Riverside        37
SantaClara       37
SantaCruz        36
Nevada           35
Mendocino        35
Alameda          34
Lake             34
SantaBarbara     34
ElDorado         32
Mariposa         30
Monterey         29
SanMateo         28
Placer           28
SanLuisObispo    27
Solano           25
Marin            22
Trinity          20
Yuba             14
Shasta           12
ContraCosta       7
Tehama            2
Mono              2
SanLuisObisp      1
SanJoaquin        1
Yolo              1
Sacramento        1
Name: County, dtype: int64

<center><b>Задание 2.</b></center>

Сохраните в переменную `df` датасет [с информацией об академической успеваемости студентов](https://www.kaggle.com/datasets/bhavikjikadara/student-study-performance) и выведите следующие показатели:

In [43]:
# YOUR CODE HERE

Выведите 5 строк с информацией о девушках, набравших наибольший балл по математике:

In [48]:
# YOUR CODE HERE

Посчитайте средние значения по математике, чтению и письму для девушек и юношей:

*Nota bene: если вы хотите решить эту задачу элегантно и быстрее, прочитайте про метод [`groupby` в pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)*

In [53]:
# YOUR CODE HERE

Создайте колонку `final_grade` - сумму значений результатов по математике, чтению и письму. Выведите средние значения по показателю `final_grade` для студентов с разными уровнями образования родителей (колонка `parental_level_of_education`). Отсортируйте эти средние в порядке возрастания.

*Nota bene: если вы хотите решить эту задачу элегантно и быстрее, прочитайте про метод [`groupby` в pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)*

In [59]:
# YOUR CODE HERE

temp = [
    'a', 
    "b", 
    {
        "foo":1, 
        "bar": {
            "x": 10,
            "y":20,
            "z": 30
        }, 
        "baz":3
    }, 
    "c",
    "d"
]

## Дополнительные материалы <a name="parlast"></a>

+ Про открытие файлов в Python [PythonRU](https://pythonru.com/osnovy/fajly-v-python-vvod-vyvod)
+ Как работают кодировки текста. [Статья на Хабр](https://habr.com/ru/post/478636/)
+ [Документация `pandas`](https://pandas.pydata.org/docs/reference/general_functions.html)