## Frozenset

Frozenset имеет точно такие же характеристики как и обычное множество (set). Отличие здесь заключается в том, что элементы в frozenset нельзя изменить в дальнейшем. Можно сказать, что это смесь множества и кортежа.

In [1]:
some_frozen_set = frozenset("Words")
simple_set = set("Words")

In [2]:
simple_set

{'W', 'd', 'o', 'r', 's'}

In [3]:
some_frozen_set

frozenset({'W', 'd', 'o', 'r', 's'})

In [4]:
simple_set.add(7)

In [6]:
simple_set

{7, 'W', 'd', 'o', 'r', 's'}

In [7]:
some_frozen_set.add("P")

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
some_frozen_set.

In [ ]:
simple_set.

### Аргументы функции

Об этом мы уже начали говорить. Добавим лишь то, что при объявлении функции можно выставить какое-то дефолтное значение аргумента, которое будет подставяться, если мы ничего не указали.

In [5]:
def get_degree(number, degree = 2):
    '''
    number — число, которое возведется в степень degree
    '''
    return number ** degree

Например, сейчас, если я вызову функцию, не подставив второй аргумент, то по умолчанию вместо него будет стоять 2.

In [6]:
get_degree(5)

25

In [8]:
get_degree(5, 3)

125

Помимо таких нюансов, есть еще возможность передавать функции неограниченное число *неименованных* аргументов (тут нам поможет знак `*`).

In [9]:
def our_sum(*args): # args = arguments
    return args

print(our_sum(1, 9, 'qwerty', 8))

(1, 9, 'qwerty', 8)

In [10]:
print(our_sum(1,1,1,1,1,1,1))

(1, 1, 1, 1, 1, 1, 1)

В итоге все наши аргументы преобразовались в один — кортеж, итерируемый объект, с которым дальше можно делать все, что хотим.

In [11]:
def our_sum(*args): # args = arguments
    summa = 0

    for val in args:
        summa += val

    return summa

print(our_sum(1, 9, 3, 8))

21

In [12]:
print(our_sum(1,1,1,1,1,1,1))

7

Именнованные аргументы также можно передать, но для этого мы используем уже два знака `**`.

In [13]:
def welcome(**kwargs): # kwargs = keyword arguments

    for key, value in kwargs.items():
        print(f'{key} — {value}')

    print(f'Добро пожаловать, {" ".join(kwargs.values())}')

welcome(name = 'Anastasia', surname = 'Parshina')

name — Anastasia
surname — Parshina
Добро пожаловать, Anastasia Parshina

Обратите внимание, что мы написали функцию, которая ничего не возвращает, а только печатает. Такие функции тоже бывают, как, например, бывают и те, которым не передаются какие либо аргументы. Чем больше вы с ними работаете и пишете свои собственные функции, тем больше узнаете!

## Функция sorted()

Функция sorted возвращает новый отсортированный список, который получен из итерируемого объекта, который был передан как аргумент.

In [16]:
a = [5, 2, 3, 1, 4]
sorted(a)

[1, 2, 3, 4, 5]

In [17]:
a

[5, 2, 3, 1, 4]

In [19]:
a = [5, 2, 3, 1, 4]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [20]:
sorted({1: 'D', 2: 'B', 4: 'E', 5: 'A', 3: 'B'})

[1, 2, 3, 4, 5]

In [21]:
"This is a test string from Andrew".split()

['This', 'is', 'a', 'test', 'string', 'from', 'Andrew']

In [18]:
str.casefold("AAA")

'aaa'

In [22]:
sorted("This is a test string from Andrew".split(), key=str.casefold)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [30]:
student_tuples = [
    ('john', 'A', 15),
    ('dave', 'B', 10),
    ('jane', 'B', 12),
]
sorted(student_tuples, key=lambda student: student[2], reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

## Анонимная функция <a name="par3"></a>

Бывает такое, что функция потребуется нам всего раз — здесь и сейчас. Тогда зачем нам как-то ее определять и давать ей название? Можно просто это название заменить словом `lambda`.

`lambda`-функции принимают любое количество аргументов, но не могут содержать несколько выражений и всегда возвращают только одно значение.

Отдельно синтаксис `lambda`-функций покажется вам странным, но выглядит он так:

    `lambda arguments: expression`

Чтобы передать значения в аргументы этой функции нужен следующий синтаксис:

    `(lambda arguments: expression)(data)`
    
Идея такая: 

+ `arguments` — аргументы, с которыми работает функция
+ `expression` — что функция с этими аргументами должна делать
+ `data` — какие значения эти аргументы принимают

Ниже представлен пример лямбда-функции,  удваивающей вводимое значение.

In [23]:
double = lambda x: x*2
print(double(5))

10

In [24]:
(lambda x: x*2)(5)

10

Эта функция безымянная. Она возвращает функциональный объект с идентификатором double. Сейчас мы можем считать её обычной функцией. Рассмотрим ниже аналог lambda функции

In [25]:
def double(x):
    return x * 2

In [26]:
(lambda var1, var2, var3: (var1 + var2) * var3)(1, 2, 3)

9

А вот аналогичное действие, только с созданием функции через `def`:

In [27]:
def new_func(var1, var2, var3):
    return (var1 + var2) * var3

new_func(1, 2, 3)

9

Условные конструкции с ней также работают (но только простой `if-else`):

In [28]:
(lambda *args: [arg for arg in args if arg % 2 == 0])(1, 2, 3)

[2]

In [29]:
(lambda *args: [arg for arg in args if arg % 2 == 0])(1, 2, 3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

## Про — `map()`

Тут нам помогло списковое включение, и фактически `lambda` вернула один объект — список. 

`lambda`-функции очень часто применяются для преобразования каких-то коллекций через функцию `map()`.

In [32]:
# map(arg1(function), arg2(iterable)) -> for item in arg2: arg1(item)

In [33]:
numbers = [12, 31, 42, 16]

list(map(lambda x: x if x % 2 == 0 else 0, numbers))

[12, 0, 42, 16]

Функция map() принимает в качестве аргументов функцию и список.

Функция вызывается со всеми элементами в списке, и в результате возвращается новый список, содержащий элементы, возвращенные данной функцией для каждого исходного элемента.

Ниже пример использования функции map() для удвоения всех элементов списка.

In [34]:
current_list = [1, 3, 4, 6, 10, 11, 15, 12, 14]
new_list = list(map(lambda x: x*2 , current_list))
print(new_list)

[2, 6, 8, 12, 20, 22, 30, 24, 28]

<center><b><font size=4>Задача №2</font></b></center>

**Напишите анонимную функцию, которая принимает на вход строку с id студента и возвращает информацию о нем в формате `Номер группы: Фамилия`**

Пример работы функции:
```
codes = ['БПЛПТЛ_232_Иванов Иван Иванович',
        'БМКС_234_Петров Петр Петрович',
        'БЭК_211_Ефимов Ефим Ефимович']
list(map(... , codes)) # ['232: Иванов', '234: Петров', '211: Ефимов']
```

In [35]:
codes = ['БПЛПТЛ_232_Иванов Иван Иванович',
        'БМКС_234_Петров Петр Петрович',
        'БЭК_211_Ефимов Ефим Ефимович']

# YOUR CODE HERE ╰( ͡° ͜ʖ ͡° )つ──☆*:

list(map(lambda x: x.split("_")[1] + ": " + x.split("_")[2].split()[0], codes))

['232: Иванов', '234: Петров', '211: Ефимов']

## Про — `filter()`

Если мы хотим отфильтровать данные, то нам поможет функция `filter()`.

In [36]:
# старый дедовский способ

numbers = [2, 5, 2, 1, 9, 8, 10]
res = []

for num in numbers:
    if num % 2 == 0:
        res.append(num)

print(res)

[2, 2, 8, 10]

In [37]:
# аналогично, но через списковые включения

numbers = [2, 5, 2, 1, 9, 8, 10]
res = [num for num in numbers if num % 2 == 0]

print(res)

[2, 2, 8, 10]

In [38]:
# с помощью функции filter()

numbers = [2, 5, 2, 1, 9, 8, 10]
res = list(filter(lambda num: num % 2 == 0, numbers))

print(res)

[2, 2, 8, 10]

Фактически, мы здесь фильтруем по *условию*, не заморачиваясь с использованием цикла.

## Про — `reduce()`

Функция reduce() принимает в качестве аргументов функцию и список. Функция вызывается с помощью лямбда-функции и итерируемого объекта  и возвращается новый уменьшенный результат. Так выполняется повторяющаяся операцию над парами итерируемых объектов. Функция reduce() входит в состав модуля functools.

In [39]:
from functools import reduce


current_list = [5, 15, 20, 30, 50, 55, 75, 60, 70]
summa = reduce((lambda x, y: x + y), current_list)
print(summa)

380

Здесь результаты предыдущих двух элементов суммируются со  следующим элементом, и это продолжается до конца списка, вот так:

In [7]:
print(5+15+20+30+50+55+75+60+70)

380

## Лямбда и  списковое включение

В этом примере мы будем использовать лямбда-функцию со списковым включением и лямбда-функцию с циклом for. Мы выведем на экран  таблицу из 10 элементов.

In [2]:
tables = [lambda x = x: x*10 for x in range(1, 11)]
for table in tables:
    print(table())

10
20
30
40
50
60
70
80
90
100

In [8]:
tables = [lambda: x*10 for x in range(1, 11)]
for table in tables:
    print(table())

100
100
100
100
100
100
100
100
100
100

## Лямбда и условные операторы

Давайте рассмотрим использование условий if-else в лямбда-функции. Как вы знаете, Python позволяет нам использовать однострочные условия, и  именно их мы можем помещать в лямбда-функцию для обработки возвращаемого результата.

Например, есть две цифры, и вы должны определить, какая из них представляет наибольшее число.

In [9]:
max_number = lambda a, b: a if a > b else b
print(max_number(3, 5))

5

## Лямбда и множественные операторы

Лямбда-функции не допускают использования нескольких операторов, однако мы можем создать две лямбда-функции, а затем вызвать вторую лямбда-функцию в качестве параметра для первой функции. Давайте попробуем найти второй по величине элемент, используя лямбду.

In [40]:
current_list = [[10,6,9],[0, 14, 16, 80],[8, 12, 30, 44]]
sorted_list = lambda x: (sorted(i) for i in x)
second_largest = lambda x, func: [y[-2] for y in func(x)]
result = second_largest(current_list, sorted_list)
print(result)

[9, 16, 30]

In [ ]:
# 1) func(x) -> [[6,9,10], [0,14,16,80], [8,12,30,44]]
# 2) [y[-2] for y in func[x]]

## Дополнительные материалы <a name="parlast"></a>

+ Разница между методом и функцией [Python for Data Science](https://pythonru.com/osnovy/3-python-dlja-data-science-vstroennye-funkcii-i-metody-python)
+ Документация Python [Built-in Functions](https://docs.python.org/3/library/functions.html)
+ Документация Python [Support for type hints](https://docs.python.org/3/library/typing.html)
+ Введение в аннотации типов Python [Статья на Хабр](https://habr.com/ru/company/lamoda/blog/432656/)
+ Что такое \*args и \*\*kwargs в Python? [Статья на Хабр](https://habr.com/ru/company/ruvds/blog/482464/)

In [41]:
from IPython.display import Image
from IPython.core.display import HTML
Image(url= "https://www.meme-arsenal.com/memes/3fa9753e0f71247f5bda94b524494314.jpg")